@using Humanizer
@model IndexPageViewModel

@{ ViewData["Title"] = "Home Page"; }




<div class="container-fluid">
    <div class="row">
        <div class="col-2">
            <a asp-action="Create" class="btn btn-outline-success mb-3"><i class="fas fa-plus"></i> Create</a>
            <div class="list-group" id="list-tab" role="tablist">
                @if (Model.pages.Count != 0)
                {
                   @foreach (var Page in Model.pages)
                    {
                        <a class="list-group-item list-group-item-action d-inline-block text-truncate" id="list-@Page.ID-list" data-toggle="list" href="#list-@Page.ID" role="tab">@Page.Title</a>
                    }
                }
                else
                {
                    <div class="alert alert-success text-center my-4">No pages yet.. Be the first to write one!</div>
                }

            </div>           
        </div>
        <br />

        <div class="col-9">
            <div class="tab-content" id="nav-tabContent">
                @foreach (var Page in Model.pages)
                {
                    <div class="tab-pane fade show" id="list-@Page.ID" role="tabpanel" aria-labelledby="list-@Page.ID-list">                     
                      
                        <!-- Modal -->
                        <div class="modal fade" id="DeleteModal-@Page.ID" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Delete Page</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        Are you sure you want to delete the page?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                        <a asp-action="Delete" asp-route-ID="@Page.ID" class="btn btn-danger">Delete</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <!---->
                      <div class="float-right position-relative col-3" id="list-@Page.ID" role="tabpanel" aria-labelledby="list-@Page.ID-list">

                            <h3>Details</h3>

                            <p><strong>Created: </strong>@Page.created_at.AddHours(-1).Humanize()</p>
                            <p><strong>Updated: </strong>@Page.updated_at.AddHours(-1).Humanize()</p>
                        

                            <br />
                            <br />

                            <h3>Actions</h3>
                            <br />
                            <a asp-action="Create" class="btn btn-outline-success mb-3">
                                <i class="fas fa-plus"></i> Create
                            </a>
                            <hr>
                                                  
                            <a type="button" class="btn btn-outline-warning" asp-action="Edit" asp-route-ID="@Page.ID">
                                <i class="fas fa-edit"></i> Edit Page
                            </a>
                            <br />   
                            <br />
                            
                            <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#DeleteModal-@Page.ID">
                                <i class="fas fa-trash"></i> Delete Page
                            </button>

                            <br />
                            <br />
                            <h3>Comments</h3>
                            <br />
                            <form asp-controller="Comment" asp-action="Create">
                                <div class="form-group">
                                    <textarea class="form-text col-12" required name="Text"></textarea>
                                    <input hidden name="page_id" value=@Page.ID />
                                    <input hidden name="user_id" value="0" />
                                </div>
                                
                                <button class="btn btn-outline-success mb-3 btn-sm"><i class="fas fa-pen-square"></i> Submit</button>
                            </form>
                            
                            <hr>
                            <div class="list-group" id="list-tab" role="tablist">                              
                            @if (Page.comments.Count != 0)
                            {
                                @foreach (var comment in Page.comments)
                                {
                                    <div class="card mb-3">
                                      <div class="card-header">
                                        <strong>@comment.user_id</strong> : @comment.created_at.ToString("dd/MM/yyyy") - (@comment.created_at.AddHours(-1).Humanize())
                                      </div>
                                      <div class="card-body">
                                        <blockquote class="blockquote mb-0">
                                          <p>@comment.Text</p>                                                                                
                                          <footer><a href="#" class="flex-fill badge badge-danger" data-toggle="modal" data-target="#DeleteCommentModal-@comment.ID">Delete</a></footer>
                                        </blockquote>
                                      </div>
                                    </div>
                                    

                                    <!-- Modal -->
                                    <div class="modal fade" id="DeleteCommentModal-@comment.ID" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">Delete comment</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    Are you sure you want to delete this comment?
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                                    <a asp-controller="Comment" asp-action="Delete" asp-route-ID="@comment.ID" class="btn btn-danger">Delete</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            } 
                            else
                            {
                                <div class="alert alert-success text-center my-4">No comments yet.. Be the first to write one!</div>       
                            }   
                            </div>  
                            
                      </div>
                        <h1>@Page.Title</h1>
                        <div style="height:100%;overflow:auto;white-space: pre-wrap;">
                            <p>@Html.Raw(@Page.Text)</p>
                        </div>
                        
                     </div>
                }
                </div>
            </div>
        </div>
    </div>
       


    
